<a href="https://colab.research.google.com/github/thejapamarthy/Python/blob/main/Categorizing_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/afeld/python-public-policy/blob/main/hw_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/><

## Coding: Using keywords to categorize 311 requests

**Problem Statement:** When you read through the `descriptor` column in the 311 data, you will see that complaints related to graffiti are actually scattered throughout multiple `complaint_type` categories. We want to identify all complaints related to graffiti and see which community districts have the most instances of graffiti.

To help make this assignment easier, there's a smaller subset of the 311 data for you to use. It's named  `cleaned_311_data_hw2.csv` and is available at https://nyu.box.com/shared/static/i24kf9gkmc4ey506hw3oxxyaxz67k0mv.zip. This smaller dataset only contains ~65,000 records from relevant complaint type categories, and has columns renamed to be lowercase and underscored.

First, load the data:

In [ ]:
# your code here
#loading the data
import pandas as pd
df = pd.read_csv('https://nyu.box.com/shared/static/i24kf9gkmc4ey506hw3oxxyaxz67k0mv.zip', low_memory=False)

Preview the dataframe:

In [ ]:
# your code here
#viewing the first five rows of the dataframe
df.head()

   Unnamed: 0  Unnamed: 0.1  ...  longitude                                 location
0           0           238  ...        NaN                                      NaN
1           1           353  ... -73.769744  (40.68377771085733, -73.76974413109498)
2           2           403  ...        NaN                                      NaN
3           3           655  ...        NaN                                      NaN
4           4           658  ...        NaN                                      NaN

[5 rows x 44 columns]

### Step 1

Create a function that checks each row in the 311 dataframe to see if the word "graffiti" is present in either the `complaint_type` value or `descriptor` value. Both columns may contain the word, so you should check both. If the word "graffiti" is found, the function should return the boolean value True. If "graffiti" is not found, the function should return the boolean value False.

#### Hints

- The same way that we checked if the string "BRONX" existed in the `community_board` value in the `cb_counts` table during the lecture, you can check if "graffiti" exists in the `descriptor` or `complaint_type` values.
- The `descriptor` column contains some null/NaN values. You'll have trouble running a function on these. Before your function checks if "graffiti" is present in `descriptor`, the function should make sure that a `descriptor` value exists using `pd.notnull(row.descriptor)`
- Capitalization may be inconsistent. It could help to use `.lower()` to convert strings to lowercase.

In [ ]:
# your code here
#creating a function to find values in complaint type and descriptor columns with graffiti value
def graffiti(row):
  if 'graffiti' in row["complaint_type"].lower():
      return True
  if  pd.notnull(row["descriptor"]) and 'graffiti' in row["descriptor"].lower():
      return True
  else: 
      return False

### Step 2

Apply the function created in Step 1 to the 311 dataframe and create a new column called `graffiti_flag` that captures the output from the function.

Tip: There are two checks you can use to confirm that the function worked as expected.

- Group by `graffiti_flag` to make sure there are records tagged as `True`.
- Using only the records where `graffiti_flag` is `True` (`sample[sample.graffiti_flag]`), group by `complaint_type` to make sure that more than one `complaint_type` is included.

In [ ]:
# your code here
#creating a new column to capture the output from the function graffiti
df['graffiti_flag']=df.apply(graffiti, axis=1)
print(df)
graffiti_check = df.groupby('graffiti_flag').size().reset_index(name='counts')
print(graffiti_check)
#creating a new dataframe with true values of graffiti_flag
x= df.loc[df["graffiti_flag"]==True]
#group by complaint type that has only True values
graffiti_complaint=x.groupby('complaint_type').size().reset_index(name='complaintcounts')
print(graffiti_complaint)

NameError: ignored

### Step 3

Create another dataframe `df_graffiti` that only contains records where `graffiti_flag` is `True`. `df_graffiti = df[df.graffiti_flag]`

In [ ]:
# your code here
#creating another df which has only true values in graffiti_flag
df_graffiti= df.loc[df["graffiti_flag"]==True]

### Step 4

Group your dataframe `df_graffiti` to get the count of requests per `community_board`. Use `.nlargest()` to identify which Community District has the highest count.

In [ ]:
# your code here
#creating a new dataframe with count_of_requests and community board 
df_graffitilargest=df_graffiti.groupby('community_board').size().reset_index(name='count_of_requests')
#finding the largest count community district
df_graffitilargest.nlargest(1, 'count_of_requests')

  community_board  count_of_requests
2     01 BROOKLYN               1797

### Bonus

Create a `graffiti_flag2` column using only built-in pandas operations, i.e. without using a custom function.

In [ ]:
# your code here
#creating new column graffiti_flag2 without functions
df['graffiti_flag2']=((df['complaint_type'].str.lower() == "graffiti") & (pd.notnull(df['descriptor'])) & (df['descriptor'].str.lower() == "graffiti"))
df['graffiti_flag2']

0        False
1        False
2        False
3        False
4        False
         ...
64572    False
64573    False
64574    False
64575    False
64576    False
Name: graffiti_flag2, Length: 64577, dtype: bool

Now [turn in the assignment](https://github.com/afeld/python-public-policy#turning-in-assignments).

## Tutorials

- ["You’re Not Mapping Rats, You're Mapping Gentrification"](https://theconcourse.deadspin.com/you-re-not-mapping-rats-you-re-mapping-gentrification-1835005060)—article about bias in 311 data
- [Intro to Plotly Express](https://plotly.com/python/plotly-express/). You don't have to work through every one of these examples; just review to get familiar with what types of charts are possible.