<a href="https://colab.research.google.com/github/thejapamarthy/Python/blob/main/Comparison%2C_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/afeld/python-public-policy/blob/master/hw_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# your code here
# reading the dataset
import pandas as pd
df = pd.read_csv('https://nyu.box.com/shared/static/x3zfnpsva4kwcqj6amfchheszdv269lq.zip', low_memory=False)

### Step 2

Answer these two questions about the data, showing your code that produced the result in two individual code cells:

1. What is the minimum value in the `Created Date` column? Try using `.min()`.
1. What is the maximum value in the `Created Date` column? Try using `.max()`.

In [ ]:
# your code here
min=df['Created Date'].min() # min value in the Created Date Column
max=df['Created Date'].max() # max value in the Created Date Column
print(min)
print(max)
df['Created Date'].describe()
df[]

01/01/2019 01:00:00 PM
12/31/2018 12:59:41 PM

count                    2859200
unique                   2103781
top       08/20/2018 12:00:00 AM
freq                         234
Name: Created Date, dtype: object

### Step 3

***Does anything about the resulting min and max values surprise you? What do think causes this?***

Hint: Look at the year. If you use `.head()` and `.tail()` you can find the real min and max dates. We'll learn more about how to properly handle dates in a later lecture.

The dates are not in chronology, the dates are expressed not in date format but as a string- it is doing a string comparison.

## Coding: Exploring Trends in How People Submit 311 Requests

Use this zipped copy of the `cleaned_311_data.csv` created during our lecture to complete the homework. Read it in from https://nyu.box.com/shared/static/dpe8ekjepi6xf5zy5hpi7n1o2dgcw699.zip.

In [ ]:
# your code here
import pandas as pd
# reading the dataset
df = pd.read_csv('https://nyu.box.com/shared/static/dpe8ekjepi6xf5zy5hpi7n1o2dgcw699.zip', low_memory=False)
df.head() # getting first 5 values
df.tail() # getting the last five values
df.describe() # getting the summary stats of the dataframe

         Unnamed: 0    Unique Key  ...      Latitude     Longitude
count  2.859011e+06  2.859011e+06  ...  2.691413e+06  2.691413e+06
mean   1.429557e+06  4.170077e+07  ...  4.072690e+01 -7.392466e+01
std    8.253713e+05  1.076042e+06  ...  8.598861e-02  8.333435e-02
min    0.000000e+00  3.883743e+07  ...  4.049881e+01 -7.425495e+01
25%    7.147705e+05  4.073059e+07  ...  4.066492e+01 -7.396954e+01
50%    1.429534e+06  4.166753e+07  ...  4.071802e+01 -7.392714e+01
75%    2.144298e+06  4.267291e+07  ...  4.080009e+01 -7.387685e+01
max    2.859199e+06  4.362698e+07  ...  4.091294e+01 -7.370038e+01

[8 rows x 7 columns]

### Q1

Which complaint submission method (`Open Data Channel Type`) is used most frequently, according to this dataset? Provide the count of each for comparison.

In [ ]:
# your code here

print(df['Complaint Type'].count())
df.info()
set(df['Open Data Channel Type']) 
with pd.option_context("display.max_rows", None): # Displaying the values of Open Data Channel Type
    display(df.groupby('Open Data Channel Type').size())

2859011
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2859011 entries, 0 to 2859010
Data columns (total 42 columns):
 #   Column                          Dtype
---  ------                          -----
 0   Unnamed: 0                      int64
 1   Unique Key                      int64
 2   Created Date                    object
 3   Closed Date                     object
 4   Agency                          object
 5   Agency Name                     object
 6   Complaint Type                  object
 7   Descriptor                      object
 8   Location Type                   object
 9   Incident Zip                    object
 10  Incident Address                object
 11  Street Name                     object
 12  Cross Street 1                  object
 13  Cross Street 2                  object
 14  Intersection Street 1           object
 15  Intersection Street 2           object
 16  Address Type                    object
 17  City                            object
 18  Landmark                        object
 19  Facility Type                   object
 20  Status                          object
 21  Due Date                        object
 22  Resolution Description          object
 23  Resolution Action Updated Date  object
 24  Community Board                 object
 25  BBL                             float64
 26  Borough                         object
 27  X Coordinate (State Plane)      float64
 28  Y Coordinate (State Plane)      float64
 29  Open Data Channel Type          object
 30  Park Facility Name              object
 31  Park Borough                    object
 32  Vehicle Type                    object
 33  Taxi Company Borough            object
 34  Taxi Pick Up Location           object
 35  Bridge Highway Name             object
 36  Bridge Highway Direction        object
 37  Road Ramp                       object
 38  Bridge Highway Segment          object
 39  Latitude                        float64
 40  Longitude                       float64
 41  Location                        object
dtypes: float64(5), int64(2), object(35)
memory usage: 916.1+ MB

Open Data Channel Type
MOBILE      368759
ONLINE      589865
OTHER        19267
PHONE      1463204
UNKNOWN     417916
dtype: int64

In [ ]:
opendata_df=df.groupby('Open Data Channel Type').size()
print(opendata_df)
max_value=df.groupby('Open Data Channel Type').size().max() 
print(opendata_df.index[opendata_df==max_value].tolist()) # assigning max_value values to opendata_df and getting index of the max value from the list

Open Data Channel Type
MOBILE      368759
ONLINE      589865
OTHER        19267
PHONE      1463204
UNKNOWN     417916
dtype: int64
['PHONE']

### Q2

Get the count of each submission method per complaint type, sorted by complaint type.

In [ ]:
# your code here
# grouping complaint type and submission method columns to sort by complaint type
df.groupby(['Complaint Type', 'Open Data Channel Type']).size().reset_index(name='count').sort_values(by='Complaint Type')

              Complaint Type Open Data Channel Type  count
0                  APPLIANCE                 ONLINE   2627
1                  APPLIANCE                  PHONE  12002
2          Abandoned Vehicle                 MOBILE   2484
3          Abandoned Vehicle                 ONLINE   1891
4          Abandoned Vehicle                  PHONE   5069
..                       ...                    ...    ...
515             Window Guard                  PHONE     13
514             Window Guard                 ONLINE     17
516             Window Guard                UNKNOWN      1
517  X-Ray Machine/Equipment                 ONLINE      5
518  X-Ray Machine/Equipment                  PHONE      4

[519 rows x 3 columns]

***Review the results and share a sentence or two with your observations.***
Some of the types of the complaint are not repeating, the values are sorted by complaint type in a descending order.

### Q3

Provide a simplified table that only lists the most common request submission method for each complaint type. There should be one row per complaint type, capturing the most common submission method for that complaint type.

In [ ]:
# your code here
# grouping columns Complaint Type and Open Data Channel Type by decreasing order of count; dropping the remaining two values to retain highest count
x=df.groupby(['Complaint Type', 'Open Data Channel Type']).size().reset_index(name='count')
print(x)
x.sort_values('count', ascending=False).drop_duplicates('Complaint Type').sort_values('Complaint Type')

                         Complaint Type Open Data Channel Type   count
0   Request Large Bulky Item Collection                  PHONE  177175
1                        HEAT/HOT WATER                  PHONE  128002
2                   Noise - Residential                  PHONE   95407
3                      Blocked Driveway                  PHONE   95206
4                   Noise - Residential                 ONLINE   89050
5                Street Light Condition                UNKNOWN   77755
6                       Illegal Parking                 MOBILE   75784
7                       Illegal Parking                  PHONE   63957
8                  UNSANITARY CONDITION                  PHONE   63619
9                      Street Condition                UNKNOWN   61508
10                      Illegal Parking                 ONLINE   55417
11        General Construction/Plumbing                UNKNOWN   54939
12                       HEAT/HOT WATER                 ONLINE   54872
13                  Noise - Residential                 MOBILE   51889
14                        PAINT/PLASTER                  PHONE   46163

                         Complaint Type Open Data Channel Type   count
3                      Blocked Driveway                  PHONE   95206
11        General Construction/Plumbing                UNKNOWN   54939
1                        HEAT/HOT WATER                  PHONE  128002
6                       Illegal Parking                 MOBILE   75784
2                   Noise - Residential                  PHONE   95407
14                        PAINT/PLASTER                  PHONE   46163
0   Request Large Bulky Item Collection                  PHONE  177175
9                      Street Condition                UNKNOWN   61508
5                Street Light Condition                UNKNOWN   77755
8                  UNSANITARY CONDITION                  PHONE   63619

In [ ]:
# sorting the above table in ascending order of count
x.sort_values('count', ascending=True).drop_duplicates('Complaint Type').sort_values('Count')

NameError: ignored

***Can you provide a potential explaination for why some complaints are more frequently made via phone and mobile versus on the website?***

Illegal Parking, Blocked Driveway are situtations where the person might be driving while street light condition, plumbing could relate to the person's residential issues- the urgency in reporting the issue and availability of other modes at residence could be factors in choosing these types of complaint submission

***Did you work with any other students on this assignment?***

No

Now [turn in the assignment](https://github.com/afeld/python-public-policy#turning-in-assignments).

## Tutorials

1. Filtering/indexing `DataFrame`s
   - [Filter specific rows from a `DataFrame`](https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/03_subset_data.html#how-do-i-filter-specific-rows-from-a-dataframe)
   - [Boolean indexing](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#boolean-indexing)
1. [Video introducing functions](https://www.youtube.com/watch?v=9Os0o3wzS_I&list=PL-osiE80TeTskrapNbzXhwoFUiLCjGgY7&index=8)
1. Coding Style Guides - Please skim these; I don't expect you to understand and follow everything in them. The most important guidelines to pay attention to are indentation and keeping each statement on its own line.
   - [The Hitchhiker’s Guide to Python](https://docs.python-guide.org/writing/style/)
   - [PEP 8](https://www.python.org/dev/peps/pep-0008/)
1. [Guide to commenting your code](https://realpython.com/python-comments-guide/)
1. [Quartz Guide to Bad Data](https://github.com/Quartz/bad-data-guide#readme)

### Optional

More on indexing:

- [How to Select Rows from Pandas DataFrame](https://datatofish.com/select-rows-pandas-dataframe/)
- Selecting Subsets of Data in Pandas: [Part 1](https://medium.com/dunder-data/selecting-subsets-of-data-in-pandas-6fcd0170be9c) and [Part 2](https://medium.com/dunder-data/selecting-subsets-of-data-in-pandas-39e811c81a0c)